<%# view helpers to pass title an description to layout %>
<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>

<%# add a photo %>
<section>
    <img src="http://lorempixel.com/1170/600/cats/1">
</section>
<section>
    <div class="column">
        <h2>Stay in touch</h2>
    </div>
    <div class="column">
        <div class="form-centered">
            <%= simple_form_for @visitor do |f| %>
                <%= f.error_notification %>
                <%# label: false to suppress email field label %>
                <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
                <br/>
                <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
            <% end %>
        </div>
    </div>
</section>
