<%# this view helper passes a page title to the app layout %>
<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born somewhere and did many good things before retiring and blabla</p>
<p>His favourite quotation is:</p>
<p>Lorem ipsum...</p>
